.canvas {
  height: 100vh !important;
  width: 100vw !important;
}

.canvas-container {
  height: 100vh !important;
  width: 100vw !important;
}

.upper-canvas {
  height: 100vh !important;
  width: 100vw !important;
}

.lower-canvas {
  height: 100vh !important;
  width: 100vw !important;
}